{% extends 'visitor/base_visitor.html.twig' %}
{% block title %}
    {{ tour.name }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/assets/tourStyle.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/commentBox.css"/>
{% endblock %}
{% block body %}
  <!-------Banner Start------->
    <section class="banner" style="background: url(/{{tour.photo}}); background-size: cover; background-repeat: no-repeat;" data-scroll-index='0'>
      <div class="banner-overlay">
        <div class="container">
          <div class="row">
            <div style="background: rgb(179,179,179);background: linear-gradient(90deg, rgba(179,179,179,1) 0%, rgba(184,0,255,0.2805497198879552) 100%);" class="col-md-4 col-sm-12">
              <div class="banner-text">
                <h2 class="white">{{tour.name}}</h2>
                <h5 class="banner-text white">{{tour.desc}}</h5>
                <p>Date of publication: <b>{{tour.date}}</b></p>
                <p>
                  Author: <b>{{ author.nickname ? author.nickname : author.name}}</b>
                  <img style="border-radius: 50%; width: 5pc;" src="/{{author.avatar ? author.avatar : './user-default.svg'}}" alt="author pic">
                </p> 
              </div>
            </div>
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12"> <img src="/{{tour.photo ? tour.photo : 'restaurant.svg'}}" class="img-fluid wow fadeInUp"/> </div>
          </div>
        </div>
      </div>
      <span class="svg-wave"> <img class="svg-wave" src="/images/wave.svg"> </span>
    </section>

      <!-------Banner End-------> 

      <!-------About End------->

      <section class="about section-padding prelative" data-scroll-index='1'>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="sectioner-header">
                <h3 class="text-center">About</h3>
                <span class="line"></span>
                <p style="word-break: break-all; word-spacing: normal; white-space: pre-wrap;">{{tour.body}}</p>
              </div>
              <div class="section-content">
                <div class="row">
                  <div class="col-md-4">
                    <p style="font-size: 20px">Location <b>{{ tour.location }}</b></p><br>
                  </div>
                  <div class="col-md-8 text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-------About End-------> 

        <!-------Contact Start------->
        <section class="testimonial white section-padding" data-scroll-index='6' style="color: white;">
          <div class="container" style="color: white;">
            <div class="row">
              <div class="col-md-12">
                <div class="sectioner-header-comments text-center" style="color: white;">
                  <h3>Comments</h3>
                  <span class="line"></span>
                  <p>Share your opinion with us!!</p>
                </div>
                {% include 'visitor/comment_section.html.twig' %}
              </div>
            </div>
          </div>
        </section>
{% endblock %}
